<h1></h1>
<form action="/change">
  <div class="form-group">
    <label for="change">Change Calculator:</label>
    <input id="cents" name="cents" class="form-control" type="text">
    <label for="q_limit">Number of quarters available:</label>
    <input id="q_limit" name="q_limit" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
